<hr style="border-color:darkblue;">

<div class="contenedor" style= " color: rgba(204, 188, 97, 0.897); font-size:xx-large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <img src="https://assets.wemystic.com/wmcom/2018/10/lilith-carta-natal-850x640.jpg" />
    <div class="texto-encima"></div>
    <div class="centrado">CARTA ASTRAL</div>
  </div>

  <br>

<div style= " font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <h5>
    La Astrología estudia la posición y el movimiento de los astros, a través de cuya interpretación y observación establece relaciones entre lo que sucede en el cielo y lo que acontece en la vida cotidiana de los seres humanos.
    <h5>
    </h5>
    La Astrología moderna, más que predecir el "destino" de los hombres o pronosticar los sucesos terrestres, se usa como una potente herramienta en el proceso individual de auto-conocimiento.
    <h5>
    </h5>
    La carta astral es un diagrama que representa las posiciones de los planetas dada una fecha, hora y lugar de nacimiento. Para realizar una carta astral, es necesario disponer de las efemérides planetarias, tablas de las casas y de complicados algoritmos de cálculo planetario
    <h5>
    </h5>
    El mapa natal astrológico o carta astral es el gráfico a través del cual el cosmos nos permite entender sus energías y ritmos y particularmente como operan estas dentro de cada individuo.
    La carta astral nos permite reconocernos, saber quienes somos, descubrir nuestros potenciales y talentos así como nuestras dificultades y defectos.
    <h5>
    </h5>
    En una carta astral, todo es relevante e importante, todos los elementos que participan en el él tienen su rol y su quehacer en el desarrollo de nuestra personalidad.
    </h5>
    <br>

    <h5 class="mb-1">Si queres calcular tu carta astral, ingresa en: </h5>
    <p align="center">
        <a style="border-color: rgba(204, 188, 97, 0.897); background-color: rgba(204, 188, 97, 0.897);" class="btn btn-primary" href="https://www.losarcanos.com/carta-astral.php" role="button">Carta Astral</a>
    </p>
</div>
